@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&family=Roboto:wght@300&display=swap');

// HEADER AND FOOTER //

    //Color of header and footer
    $headfoot-color: rgb(300,300,150,0.5);

    //Use for links in header and footer
    @mixin headerfooter-links {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        color: rgb(0,0,0,0.7);
        font-size: 25px;
    }

    //Use for logo in header and footer
    @mixin logo {
        font-size: 30px;
        color: rgb(250,140,140);
        font-variant: small-caps;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 200;
}

// PAGE BODIES //

    //Use for regular body text
    @mixin body-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }


