@import 'Fonts';

.Footer {
    background-color: $headfoot-color;
    max-width: 1200px;
    height: 100px;
    width: 100%;
  
  @media (max-width: 600px) {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    max-height: 350px;
    height: 100%;
  }
  }

  .Icon-List {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .Footer-Title {
    @include logo;
  }

  .Icon {
    width: 25px;
    height: 25px;
    color: rgb(0,0,0,0.7);
  }

  .Icon:hover {
    background-color: rgb(250,250,250);
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
