@import 'Fonts';

.Header {
  background-color: $headfoot-color;
  max-width: 1200px;
  height: 100px;
  width: 100%;

@media (max-width: 600px) {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  height: 175px;
}
}

.Nav-List {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.Header-Title {
  @include logo;
}

.Nav-Link .Link {
  @include headerfooter-links;
  text-decoration: none;
  padding: 20px;
}

.Nav-Link .Link:hover {
  background-color: rgb(250,250,250);
  font-size: 35px;
  cursor: pointer;
}