.PageTitle {
    font-size: 50px;
    color: rgb(250,140,140);
    font-variant: small-caps;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 25px;
}

.offer-container {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: space-around;

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
      }
  }

  .offer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .offer-box {
    max-width: 250px;
    width: 100%;
    border: 3px solid rgb(250,140,140);
    margin-bottom: 10px;
  }